<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="sourcefolder" value="D:\Shares\FTP\caixaseguradora.clientes.onetooneengine.com.br\DONE\"/>-->
    <!--<add key="targetfolder" value="D:\Shares\FTP\caixaseguradora.clientes.onetooneengine.com.br\DONE\"/>-->
    <add key="sourcefolder" value="C:\temp\"/>
    <add key="targetfolder" value="C:\temp\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
